<link rel="stylesheet" href="styles.css">

<div id="overall-hits">
  <h1>Cash 4 Life Winning numbers</h1>

  <table>
    <thead>
      <tr>
        <td>Date</td>
        <td>Numbers</td>
        <td>Cash Ball Number</td>
      </tr>
    </thead>

    <tr>
      <% @results.each do |line| %>
      <td>line.dates</td>
      <td>line.numbers</td>
      <td>line.bonus</td>
      <% end %>
    </tr>
  </table>

  <h1>Cash 4 Life Data</h1>
  <table>
    <% @numbers.each do |k,v| %>
      <tr class="number-cell">
        <td>
          <div class='base-number'><%= k %>/</div>
          <div class="hit-count"><%= v %></td></div>
      </tr>
    <% end %>
  </table>
</div>


<table id="common-hits">
  <thead>
    <tr>Most common hits</tr>
  </thead>
  <tbody>
    <% @popular.each do |k,v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>
  Number Picks
</h1>

<table id="number-generator">
  <thead>
    <tr>Randomly selected numbers based on hit frequency</tr>
  </thead>

</table>
